<mat-card>
  <mat-card-title>Currnet Court</mat-card-title>
  <mat-card-content fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="50px">
    <mat-card fxFlex="50%" *ngFor="let court of currentCourt">
      <mat-card-title>{{court.name}}</mat-card-title>
      <mat-card-subtitle>{{court.title}}</mat-card-subtitle>
      <mat-card-content>
        <br />
          <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around center" fxLayout.lt-md="column" fxLayoutGap="50px">
            <div fxFlex="40%" *ngFor="let image of court.imgsSrc" fx>
              <img mat-card-image src="{{image}}" alt="{{court.name}}" (click)="openDialog($event)">
            </div>
          </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
