<mat-card>
  <mat-card-title>Who We Are</mat-card-title>
  <mat-card-content>
    <p>
      The Miss Bridgman scholarship organization will crown its 82nd Queen this year. We are an all-volunteer
      organization and is affiliated with the Miss Blossomtime Festival organization, who’s core values center around
      scholarship and community service. Additionally, we are a local mentoring program for girls / young men and women
      ages 6-19 years of age. As a part of our community service, we work with many different organizations in the area,
      assisting with their events. If you would like the Miss/Mr Bridgman titleholders to assist with your event, email
      <a href="mailto:missbridgmanqc@gmail.com">missbridgmanqc@gmail.com</a>.
    </p>
    <p>
      We also spend a year working with the young men and women who are crowned our titleholders on life skills such as
      interview skills, work ethic, accountability, how to present yourself, etc. Miss/Mr. Bridgman titleholders and
      participants have gone on to be very successful contributors to our community. The pageant is typically held in
      November, and information is available in Late August. The Miss and Mr Bridgman Winners go on to compete for the
      titles of Miss Blossomtime and Mr Blossomtime and in March of the following year.
    </p>
  </mat-card-content>
</mat-card>
